# Plotting Libaries
kaleido==1.1.0 # Kaleido versions can be a bit tricky, 1.1.0 works
plotly
matplotlib
seaborn

# Basics
numpy
pandas
scipy

# For advanced data handling
xarray
netCDF4

# For better workflow with Git and jupyter nbs
notebook
nbstripout
nbdime

# Advanced fitting library
iminuit

qutip