# Plotting Libaries
kaleido==0.1.0.post1 # This version is needed to save .pdf files from plotly figures on windows
plotly
matplotlib
seaborn

# Basics
numpy
pandas
scipy

# For advanced data handling
xarray

# For better workflow with Git and jupyter nbs
notebook
nbstripout
nbdime

# Advanced fitting library
iminuit

qutip